@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-decor: 'Press Start 2P', cursive;
  --purple: #9370DB;
  --pink: #f5a4f3;
  --container-padding: 20px;
}

body {
  font-family: var(--font-decor);
  background-color: var(--pink);
  color: white;
  padding: 0;
  margin: 0;
}

/* UTILITIES & globals */

.container--padding-util {
  padding: 0 20px;
}

a {
  color: var(--purple);
}


.image--caption-util {
  font-size: 7px;
}

/*  HEADER */
header {
  line-height: 50px;
  height: 50vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


header h1 {
  max-width: 500px;
  color: var(--purple);
}

header h1:hover {
  color: white;
  -webkit-text-stroke: 1px var(--purple);
}

.brand {
  display: flex;
  flex-direction: column;
}

.brand--star {
  width: 10%;
  padding: 0;
}

/* HEADER: media queries */
@media screen and (max-width: 531px) {

  header {
    display: flex;
    flex-direction: column;
  }
}

/* intro */
.intro {
  display: flex;
  flex-direction: row-reverse;
  border-top: 3px solid #9470db31;
  justify-content: space-evenly;
  align-items: center;

  font-size: 14px;
  height: 50vh;
}

.intro--important {
  color: var(--purple);
  font-size: 15px;
  transition: all ease-in .3s;
  position: relative;
}

.intro--important:hover {
  font-size: 17px;
}

.intro p {
  width: 55%;
  line-height: 30px;
}

.img-1 {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 969px) {

  .intro {
    flex-direction: column;
    padding: 0px;
    font-size: 15px;
  }

  header,
  .intro {
    height: unset;
  }

  header {
    justify-content: center;
  }
}